.box {
  position: absolute;
}

.contenido {
  padding-top: 71px;
}


@media screen and (max-width: 768px) {
  /* .background-image {
    height: 50vh;
  }

  .centered-text h1 {
    font-size: 1.5em;
    top: 1000;
  } */

  .contenido {
    padding-top: 80px;
  }
}